/.project
**/.project
/build/
**/target/
/bin/ 
/.settings/
**/.settings/
bigtangle-docker/.settings/
**/.classpath
logs/ 
/.idea/
*.class



helper/testpq.json
/node_modules/
/bigtangle-typescript/dist/
/bigtangle-subtangle/.settings/org.eclipse.core.resources.prefs
/bigtangle-subtangle/.settings/org.eclipse.jdt.core.prefs
bigtangle-subtangle/.settings/org.eclipse.jdt.apt.core.prefs
bigtangle-subtangle/.settings/org.eclipse.m2e.core.prefs

# validator secrets
validator.env
